.weather-icon {
    width: 150px; 
    height: 150px;
    border-radius: 150px;
    background: rgba(255, 255, 255, 0.55);

    @media (max-width: 575px) {
        width: 75px;
        height: 75px;
    }
}

.weather-icon-small {
    width: 75px; 
    height: 75px;
}

.day-forecast {
    padding: 8px;
    width: 85px;
}

@media (max-width: 575px) {
    h3.card-title {
        font-size: 1.3rem;
    }
}
