<div class="card" *ngIf="forecast">
    <img class="card-img-top" src="../../assets/bg2.jpeg" alt="location image">
    <div class="card-img-overlay text-center">
        <h3 class="card-title">{{forecast.location}}</h3>
        <p class="card-text"><img src="../../assets/climacons/{{forecast.icon}}.svg" class="weather-icon" /></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-thermometer-empty" aria-hidden="true"></i> Temperature: {{forecast.temperature}} &#x2103;</li>
        <li class="list-group-item"><i class="fa fa-tint" aria-hidden="true"></i> Humidity: {{forecast.humidity}} g/m3</li>
        <li class="list-group-item"><i class="fa fa-map-o" aria-hidden="true"></i> Location: <a href="http://maps.google.com/maps?q={{forecast.latitude}},{{forecast.longitude}}">{{forecast.latitude}}°, {{forecast.longitude}}°</a></li>
        <li class="list-group-item"><i class="fa fa-line-chart" aria-hidden="true"></i> Hourly forecast for today:</li>
        <li class="list-group-item">
            <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"></canvas>
        </li>
        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> Daily forecast for next 7 days:</li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" *ngFor="let day of forecast.daily" class="text-center day-forecast">
                    <div><b>{{day.time * 1000 | date:'mediumDate'}}</b></div>
                    <div><img src="../../assets/climacons/{{day.icon}}.svg" class="weather-icon-small" /></div>
                    <div><i class="fa fa-caret-up" aria-hidden="true"></i> {{day.temperatureHigh}}&#x2103;</div>
                    <div><i class="fa fa-caret-down" aria-hidden="true"></i> {{day.temperatureLow}}&#x2103; </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="card-footer text-muted">
        Weather update time: {{forecast.timestamp * 1000 | date:'medium'}}
    </div>
</div>